@model UserVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@inject ApplicationContext _context
@inject UserManager<User> _userManager

@{
    var orgCulture = Thread.CurrentThread.CurrentUICulture;
    Thread.CurrentThread.CurrentUICulture = CultureInfo.GetCultureInfo("ru-RU");
    var countries = CultureInfo.GetCultures(CultureTypes.SpecificCultures)
                    .Select(x => new RegionInfo(x.LCID))
                    .Select(x => x.DisplayName)
                    .Distinct()
                    .OrderBy(x => x)
                    .ToList();
    Thread.CurrentThread.CurrentUICulture = orgCulture;

    var user = await _userManager.FindByEmailAsync(User.Identity.Name);

    var educations = await _context.Educations
        .Where(x => x.UserId == user.Id)
        .ToListAsync();

    var jobs = await _context.Jobs
        .Where(x => x.UserId == user.Id)
        .ToListAsync();
}

<style>
    .title-text {
        font-size: 30px !important;
        padding: 15px;
    }

    .title-hr {
        margin: 15px;
    }

    .title-input {
        padding-left: 15px;
    }

    .input-group {
        padding-left: 15px;
        padding-right: 15px;
    }

    .icon {
        display: inline-block;
        width: 1em;
        height: 1em;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
    }

    .form-row {
        margin-left: 0px;
        margin-right: 0px;
    }

        .form-row > [class*=col-] {
            padding-left: 15px;
            padding-right: 15px;
        }

    div.img-container {
        position: relative
    }

        div.img-container img {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }

        div.img-container div {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }

    .photo {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .label {
        /*width: 180px;
        height: 50px;
        border-radius: 4px;
        text-align: center;*/
        cursor: pointer;
        display: block;
        /*font: 14px/50px Tahoma;
        transition: all 0.18s ease-in-out;
        border: 1px solid #333;
        color: #333;*/
    }

        .label img:hover {
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
</style>

<div style="background-image: url(/images/default/editprofile.jpg);
            background-repeat:no-repeat;
            height: 200px;
            width: 100%;
            position: relative;
            margin-top: -1px;
            ">
    <div class="" style="position: absolute;
                         bottom: 0;
                         margin-left: 395px;
                        ">
        <div style="vertical-align: bottom">
            <a href="#" class="btn btn-secondary btn-lg" style="color: rgb(0, 0, 0);">
                <svg class="icon" viewBox="0 0 21 21" style="width: 2em; height:2em;">
                    <path d="M10.032,8.367c-1.112,0-2.016,0.905-2.016,2.018c0,1.111,0.904,2.014,2.016,2.014c1.111,0,2.014-0.902,2.014-2.014C12.046,9.271,11.143,8.367,10.032,8.367z M10.032,11.336c-0.525,0-0.953-0.427-0.953-0.951c0-0.526,0.427-0.955,0.953-0.955c0.524,0,0.951,0.429,0.951,0.955C10.982,10.909,10.556,11.336,10.032,11.336z"></path>
                    <path d="M17.279,8.257h-0.785c-0.107-0.322-0.237-0.635-0.391-0.938l0.555-0.556c0.208-0.208,0.208-0.544,0-0.751l-2.254-2.257c-0.199-0.2-0.552-0.2-0.752,0l-0.556,0.557c-0.304-0.153-0.617-0.284-0.939-0.392V3.135c0-0.294-0.236-0.532-0.531-0.532H8.435c-0.293,0-0.531,0.237-0.531,0.532v0.784C7.582,4.027,7.269,4.158,6.966,4.311L6.409,3.754c-0.1-0.1-0.234-0.155-0.376-0.155c-0.141,0-0.275,0.055-0.375,0.155L3.403,6.011c-0.208,0.207-0.208,0.543,0,0.751l0.556,0.556C3.804,7.622,3.673,7.935,3.567,8.257H2.782c-0.294,0-0.531,0.238-0.531,0.531v3.19c0,0.295,0.237,0.531,0.531,0.531h0.787c0.105,0.318,0.236,0.631,0.391,0.938l-0.556,0.559c-0.208,0.207-0.208,0.545,0,0.752l2.254,2.254c0.208,0.207,0.544,0.207,0.751,0l0.558-0.559c0.303,0.154,0.616,0.285,0.938,0.391v0.787c0,0.293,0.238,0.531,0.531,0.531h3.191c0.295,0,0.531-0.238,0.531-0.531v-0.787c0.322-0.105,0.636-0.236,0.938-0.391l0.56,0.559c0.208,0.205,0.546,0.207,0.752,0l2.252-2.254c0.208-0.207,0.208-0.545,0.002-0.752l-0.559-0.559c0.153-0.303,0.285-0.615,0.389-0.938h0.789c0.295,0,0.532-0.236,0.532-0.531v-3.19C17.812,8.495,17.574,8.257,17.279,8.257z M16.747,11.447h-0.653c-0.241,0-0.453,0.164-0.514,0.398c-0.129,0.496-0.329,0.977-0.594,1.426c-0.121,0.209-0.089,0.473,0.083,0.645l0.463,0.465l-1.502,1.504l-0.465-0.463c-0.174-0.174-0.438-0.207-0.646-0.082c-0.447,0.262-0.927,0.463-1.427,0.594c-0.234,0.061-0.397,0.271-0.397,0.514V17.1H8.967v-0.652c0-0.242-0.164-0.453-0.397-0.514c-0.5-0.131-0.98-0.332-1.428-0.594c-0.207-0.123-0.472-0.09-0.646,0.082l-0.463,0.463L4.53,14.381l0.461-0.463c0.169-0.172,0.204-0.434,0.083-0.643c-0.266-0.461-0.467-0.939-0.596-1.43c-0.06-0.234-0.272-0.398-0.514-0.398H3.313V9.319h0.652c0.241,0,0.454-0.162,0.514-0.397c0.131-0.498,0.33-0.979,0.595-1.43c0.122-0.208,0.088-0.473-0.083-0.645L4.53,6.386l1.503-1.504l0.46,0.462c0.173,0.172,0.437,0.204,0.646,0.083c0.45-0.265,0.931-0.464,1.433-0.597c0.233-0.062,0.396-0.274,0.396-0.514V3.667h2.128v0.649c0,0.24,0.161,0.452,0.396,0.514c0.502,0.133,0.982,0.333,1.433,0.597c0.211,0.12,0.475,0.089,0.646-0.083l0.459-0.462l1.504,1.504l-0.463,0.463c-0.17,0.171-0.202,0.438-0.081,0.646c0.263,0.448,0.463,0.928,0.594,1.427c0.061,0.235,0.272,0.397,0.514,0.397h0.651V11.447z"></path>
                </svg> Настройки
            </a>
            <a href="/account/education" class="btn btn-light btn-lg">
                <img src="~/images/default/graduated.svg" />
                Образование
            </a>
            <a href="/account/job" class="btn btn-light btn-lg" value="Настройки">
                <svg class="icon" viewBox="0 0 20 16" style="width: 2em; height:2em;">
                    <path fill-rule="evenodd" d="M0 12.5A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5V6.85L8.129 8.947a.5.5 0 01-.258 0L0 6.85v5.65z" clip-rule="evenodd" />
                    <path fill-rule="evenodd" d="M0 4.5A1.5 1.5 0 011.5 3h13A1.5 1.5 0 0116 4.5v1.384l-7.614 2.03a1.5 1.5 0 01-.772 0L0 5.884V4.5zm5-2A1.5 1.5 0 016.5 1h3A1.5 1.5 0 0111 2.5V3h-1v-.5a.5.5 0 00-.5-.5h-3a.5.5 0 00-.5.5V3H5v-.5z" clip-rule="evenodd" />
                </svg> Рабочий стаж
            </a>
        </div>
    </div>
</div>
<div class="container">
    @using (Html.BeginForm("EditProfile", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card shadow">
                    <div>
                        <p class="title-text display-1">Изображение профиля</p>
                        <hr class="title-hr" />
                    </div>
                    <div class="img-container" style="height:200px">
                        <div>
                            @if (!string.IsNullOrEmpty(Model.Avatar))
                            {
                                <label for="photo" class="label">
                                    <img src="@Url.Content(Model.Avatar)" style="width: 130px; height: 130px;" />
                                </label>
                            }
                            else
                            {
                                <label for="photo" class="label">
                                    <img src="~/images/default/default-person.svg" style="width: 130px; height: 130px;" />
                                </label>
                            }
                            <input type="file" class="photo" id="photo" name="uploadedfile">
                        </div>
                    </div>
                    <div>
                        <p class="title-text display-1">Социальные сети</p>
                        <hr class="title-hr" />
                    </div>

                    <div>
                        <label class="title-input" for="website"><b>Ваш сайт</b></label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <svg class="icon" viewBox="0 0 32 32">
                                        <path d="M15 2c-8.284 0-15 6.716-15 15s6.716 15 15 15c8.284 0 15-6.716 15-15s-6.716-15-15-15zM23.487 22c0.268-1.264 0.437-2.606 0.492-4h3.983c-0.104 1.381-0.426 2.722-0.959 4h-3.516zM6.513 12c-0.268 1.264-0.437 2.606-0.492 4h-3.983c0.104-1.381 0.426-2.722 0.959-4h3.516zM21.439 12c0.3 1.28 0.481 2.62 0.54 4h-5.979v-4h5.439zM16 10v-5.854c0.456 0.133 0.908 0.355 1.351 0.668 0.831 0.586 1.625 1.488 2.298 2.609 0.465 0.775 0.867 1.638 1.203 2.578h-4.852zM10.351 7.422c0.673-1.121 1.467-2.023 2.298-2.609 0.443-0.313 0.895-0.535 1.351-0.668v5.854h-4.852c0.336-0.94 0.738-1.803 1.203-2.578zM14 12v4h-5.979c0.059-1.38 0.24-2.72 0.54-4h5.439zM2.997 22c-0.533-1.278-0.854-2.619-0.959-4h3.983c0.055 1.394 0.224 2.736 0.492 4h-3.516zM8.021 18h5.979v4h-5.439c-0.3-1.28-0.481-2.62-0.54-4zM14 24v5.854c-0.456-0.133-0.908-0.355-1.351-0.668-0.831-0.586-1.625-1.488-2.298-2.609-0.465-0.775-0.867-1.638-1.203-2.578h4.852zM19.649 26.578c-0.673 1.121-1.467 2.023-2.298 2.609-0.443 0.312-0.895 0.535-1.351 0.668v-5.854h4.852c-0.336 0.94-0.738 1.802-1.203 2.578zM16 22v-4h5.979c-0.059 1.38-0.24 2.72-0.54 4h-5.439zM23.98 16c-0.055-1.394-0.224-2.736-0.492-4h3.516c0.533 1.278 0.855 2.619 0.959 4h-3.983zM25.958 10h-2.997c-0.582-1.836-1.387-3.447-2.354-4.732 1.329 0.636 2.533 1.488 3.585 2.54 0.671 0.671 1.261 1.404 1.766 2.192zM5.808 7.808c1.052-1.052 2.256-1.904 3.585-2.54-0.967 1.285-1.771 2.896-2.354 4.732h-2.997c0.504-0.788 1.094-1.521 1.766-2.192zM4.042 24h2.997c0.583 1.836 1.387 3.447 2.354 4.732-1.329-0.636-2.533-1.488-3.585-2.54-0.671-0.671-1.261-1.404-1.766-2.192zM24.192 26.192c-1.052 1.052-2.256 1.904-3.585 2.54 0.967-1.285 1.771-2.896 2.354-4.732h2.997c-0.504 0.788-1.094 1.521-1.766 2.192z"></path>
                                    </svg>
                                </span>
                            </div>
                            <input type="text" class="form-control" id="website" name="site" value="@Model.Site" placeholder="Web-site" autocomplete="off">
                        </div>

                        <label class="title-input" for="facebook"><b>Facebook</b></label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <svg class="icon" viewBox="0 0 32 32">
                                        <path d="M19 6h5v-6h-5c-3.86 0-7 3.14-7 7v3h-4v6h4v16h6v-16h5l1-6h-6v-3c0-0.542 0.458-1 1-1z"></path>
                                    </svg>
                                </span>
                            </div>
                            <input type="text" class="form-control" id="facebook" name="facebook" value="@Model.Facebook" placeholder="Facebook" autocomplete="off">
                        </div>


                        <label class="title-input" for="twitter"><b>Twitter</b></label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <svg class="icon" viewBox="0 0 32 32">
                                        <path d="M32 7.075c-1.175 0.525-2.444 0.875-3.769 1.031 1.356-0.813 2.394-2.1 2.887-3.631-1.269 0.75-2.675 1.3-4.169 1.594-1.2-1.275-2.906-2.069-4.794-2.069-3.625 0-6.563 2.938-6.563 6.563 0 0.512 0.056 1.012 0.169 1.494-5.456-0.275-10.294-2.888-13.531-6.862-0.563 0.969-0.887 2.1-0.887 3.3 0 2.275 1.156 4.287 2.919 5.463-1.075-0.031-2.087-0.331-2.975-0.819 0 0.025 0 0.056 0 0.081 0 3.181 2.263 5.838 5.269 6.437-0.55 0.15-1.131 0.231-1.731 0.231-0.425 0-0.831-0.044-1.237-0.119 0.838 2.606 3.263 4.506 6.131 4.563-2.25 1.762-5.075 2.813-8.156 2.813-0.531 0-1.050-0.031-1.569-0.094 2.913 1.869 6.362 2.95 10.069 2.95 12.075 0 18.681-10.006 18.681-18.681 0-0.287-0.006-0.569-0.019-0.85 1.281-0.919 2.394-2.075 3.275-3.394z"></path>
                                    </svg>
                                </span>
                            </div>
                            <input type="text" class="form-control" id="twitter" name="Twitter" value="@Model.Twitter" placeholder="Twitter" autocomplete="off">
                        </div>


                        <label class="title-input" for="linkedin"><b>LinkedIn</b></label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <svg class="icon" viewBox="0 0 32 32">
                                        <path d="M32 7.075c-1.175 0.525-2.444 0.875-3.769 1.031 1.356-0.813 2.394-2.1 2.887-3.631-1.269 0.75-2.675 1.3-4.169 1.594-1.2-1.275-2.906-2.069-4.794-2.069-3.625 0-6.563 2.938-6.563 6.563 0 0.512 0.056 1.012 0.169 1.494-5.456-0.275-10.294-2.888-13.531-6.862-0.563 0.969-0.887 2.1-0.887 3.3 0 2.275 1.156 4.287 2.919 5.463-1.075-0.031-2.087-0.331-2.975-0.819 0 0.025 0 0.056 0 0.081 0 3.181 2.263 5.838 5.269 6.437-0.55 0.15-1.131 0.231-1.731 0.231-0.425 0-0.831-0.044-1.237-0.119 0.838 2.606 3.263 4.506 6.131 4.563-2.25 1.762-5.075 2.813-8.156 2.813-0.531 0-1.050-0.031-1.569-0.094 2.913 1.869 6.362 2.95 10.069 2.95 12.075 0 18.681-10.006 18.681-18.681 0-0.287-0.006-0.569-0.019-0.85 1.281-0.919 2.394-2.075 3.275-3.394z"></path>
                                    </svg>
                                </span>
                            </div>
                            <input type="text" class="form-control" id="linkedin" placeholder="LinkedIn" name="LinkedIn" value="@Model.LinkedIn" autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card shadow">
                    <div>
                        <p class="title-text display-1">Личная информация</p>
                        <hr class="title-hr" />
                    </div>
                    <div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="username"><b>Полное имя</b></label>
                                <input type="text" class="form-control" id="username" placeholder="Полное имя" value="@(Model.FirstName + " " + Model.LastName)" autocomplete="off" disabled>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email"><b>E-mail</b></label>
                                <input type="email" class="form-control" id="email" placeholder="E-mail" name="Email" value="@Model.Email" autocomplete="off" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">
                                <p class="text-success" style="font-size: 18px;">
                                    <svg class="icon" viewBox="0 0 25 25" style="width: 2em; height:2em;">
                                        <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"></path>
                                    </svg>
                                    Почта успешно подтверждена
                                </p>
                            </div>
                        </div>
                        <hr class="title-hr" />
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstname"><b>Имя</b></label>
                                <input type="text" class="form-control" id="firstname" name="FirstName" value="@Model.FirstName" placeholder="Имя" autocomplete="off">

                            </div>
                            <div class="form-group col-md-6">
                                <label for="lastname"><b>Фамилия</b></label>
                                <input type="text" class="form-control" id="lastname" name="LastName" value="@Model.LastName" placeholder="Фамилия" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstname"><b>Страна</b></label>
                                <select class="form-control" id="country" name="country">
                                    @foreach (string country in countries)
                                    {
                                        if (!string.IsNullOrEmpty(Model.Country))
                                        {
                                            if (Model.Country.Equals(country))
                                            {
                                                <option value="@country" selected>@country</option>
                                                continue;
                                            }
                                        }
                                        <option value="@country">@country</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="phone"><b>Телефон</b></label>
                                <input type="tel" class="form-control" id="phone" name="Phone" value="@Model.Phone" placeholder="+375(29/33) 000-00-00" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="job"><b>Работа</b></label>
                                <select id="job" name="SelectedJobId" class="form-control">
                                    <option value="0" selected>Выберите работу</option>
                                    @foreach (Job job in jobs)
                                    {
                                        if (user.SelectedJobId == job.JobId)
                                        {
                                            <option value="@job.JobId" selected>@job.Name</option>
                                            continue;
                                        }
                                        <option value="@job.JobId">@job.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="education"><b>Рекомендуемое образование</b></label>
                                <select id="education" name="SelectedEducationId" class="form-control">
                                    <option value="0" selected>Выберите образование</option>
                                    @foreach (Education education in educations)
                                    {
                                        if (user.SelectedEducationId == education.EducationId)
                                        {
                                            <option value="@education.EducationId" selected>@education.Name</option>
                                            continue;
                                        }
                                        <option value="@education.EducationId">@education.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="aboutme"><b>Обо мне</b></label>
                                <textarea class="form-control" id="aboutme" name="AboutMe" style="height:150px;">@Model.AboutMe</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-5">
            <div class="col-md-12 text-center" style="margin-top: 50px;">
                <button type="submit" class="button_c">Изменить</button>
            </div>
        </div>
    }
</div>

