@model UserVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@inject ApplicationContext _context

@{
    var level = 1;

    if (Model.Experience < 100)
        level = 1;
    else if (Model.Experience >= 100 && Model.Experience < 200)
        level = 2;
    else if (Model.Experience >= 200 && Model.Experience < 300)
        level = 3;
    else if (Model.Experience >= 300 && Model.Experience < 400)
        level = 4;
    else if (Model.Experience >= 400 && Model.Experience < 500)
        level = 5;

    var stories = _context.Stories.Where(x => x.UserId == Model.UserId)
        .ToList();

    var results = _context.Achievements.Where(x => x.UserId == Model.UserId)
        .OrderByDescending(x => x.Date)
        .ToList();

    var advices = _context.Advices.Where(x => x.UserId == Model.UserId)
        .OrderByDescending(x => x.Date)
        .ToList();
}

<style>
    .icon {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: gray;
        border-radius: 50%;
        color: #ffffff;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
    }

    .title-text {
        font-size: 30px !important;
        padding: 15px;
    }

    title-hr {
        margin: 15px !important;
    }

    .title-input {
        padding-left: 15px;
    }

    .input-group {
        padding-left: 15px;
        padding-right: 15px;
    }

    div.img-container {
        position: relative
    }

        div.img-container img {
            margin: 0;
            position: absolute;
            top: 50%;
            border-radius: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }

        div.img-container div img {
            margin: 0;
            position: absolute;
            top: 50%;
            border-radius: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }

        div.img-container div {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }

    .dot {
        height: 50px;
        width: 50px;
        background-color: rgba(0, 0, 0, 1);
        border-radius: 50%;
        border: 6px solid rgb(255, 255, 255);
        opacity: 0.7;
        display: inline-block;
        position: relative;
        top: 40px;
        right: 40px;
    }

        .dot span {
            margin: 0;
            position: absolute;
            font-size: 18px;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }

    .link-profile {
        padding-bottom: 3px;
    }

        .link-profile:hover {
            border-bottom: 3px solid rgb(255, 255, 255);
        }

    .icon:hover {
        color: rgba(0, 0, 0, 1);
        background-color: rgba(131, 131, 131, 0.00) !important;
        border-radius: 50%;
    }

    .card {
        background-color: #222b3a;
    }

    body {
        background-color: rgba(0, 0, 0, 1);
    }
</style>


<div style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)), url(/images/default/editprofile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 379px;
        width: 100%;
        position: relative;
        margin-top: -1px;
    ">
    <div class="pt-2 pr-2">
        <div class="text-right">
            <a href="/Account/EditProfile" style="color: white;">
                <svg class="icon" viewBox="0 0 20 20">
                    <path d="M10,1.445c-4.726,0-8.555, 3.829-8.555,8.555c0,4.725,3.829,8.555,8.555,8.555c4.725,0,8.555-3.83,8.555-8.555C18.555,5.274,14.725,1.445,10,1.445 M10,17.654c-4.221,0-7.654-3.434-7.654-7.654c0-4.221,3.433-7.654,7.654-7.654c4.222,0,7.654,3.433,7.654,7.654C17.654,14.221,14.222,17.654,10,17.654 M14.39,10c0,0.248-0.203,0.45-0.45,0.45H6.06c-0.248,0-0.45-0.203-0.45-0.45s0.203-0.45,0.45-0.45h7.879C14.187,9.55,14.39,9.752,14.39,10 M14.39,12.702c0,0.247-0.203,0.449-0.45,0.449H6.06c-0.248,0-0.45-0.202-0.45-0.449c0-0.248,0.203-0.451,0.45-0.451h7.879C14.187,12.251,14.39,12.454,14.39,12.702 M14.39,7.298c0,0.248-0.203,0.45-0.45,0.45H6.06c-0.248,0-0.45-0.203-0.45-0.45s0.203-0.45,0.45-0.45h7.879C14.187,6.848,14.39,7.051,14.39,7.298"></path>
                </svg>
            </a>
        </div>
    </div>
    <div>
        <div class="img-container" style="height:200px">
            @if (!string.IsNullOrEmpty(Model.Avatar))
            {
                <img src="@Url.Content(Model.Avatar)" style="width: 130px; height: 130px;" />
            }
            else
            {
                <img src="~/images/default/default-person.svg" style="width: 130px; height: 130px;" />
            }
            <div>
                <span class="dot text-center">
                    <span style="color: rgb(255, 255, 255)">@level</span>
                </span>
            </div>
        </div>
        <div class="text-center text-white" style="margin-top: -20px;">
            <p class="title-text display-1">@Model.FirstName @Model.LastName</p>
        </div>
    </div>
    <div class="mt-5" style="">
        <ul class="nav justify-content-center text-uppercase" style="font-size: 22px;">
            <li class="link-profile ml-4 mr-4">
                <a href="/Account/Profile" style="text-decoration: none; color: rgb(255, 255, 255)">Профиль</a>
            </li>
            @*<li class="link-profile ml-4 mr-4">
                    <a href="#" style="text-decoration: none; color: rgb(255, 255, 255)">Сертификаты</a>
                </li>*@
            <li class="link-profile ml-4 mr-4">
                <a href="#" style="text-decoration: none; color: rgb(255, 255, 255)">Статистика</a>
            </li>
            <li class="link-profile ml-4 mr-4">
                <a href="/Account/MyCourse" style="text-decoration: none; color: rgb(255, 255, 255)">Мои курсы</a>
            </li>
            <li class="link-profile ml-4 mr-4">
                <a href="/Account/Leaders" style="text-decoration: none; color: rgb(255, 255, 255)">Лидеры</a>
            </li>
        </ul>
    </div>
</div>
<hr style="margin: 0; padding: 0; border: 1px solid #ffffff" />
<div style="background-color: rgba(0, 0, 0, 1); height: 2000px; margin-bottom: 0; padding-bottom: 0;">
    <div class="container shadow">
        <div class="row mt-5" style="background-color: #222b3a">
            <div class="col-md-12">
                <h2 class="p-5 text-white">Статистика</h2>
            </div>
        </div>
        <div class="row" style="background-color: #222b3a">
            <div class="col-md-12">
                <nav class="p-5">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link text-warning active" id="nav-theme-tab" data-toggle="tab" href="#nav-theme" role="tab" aria-controls="nav-theme" aria-selected="true">На чем остановились</a>
                        <a class="nav-item nav-link text-warning" id="nav-res-tab" data-toggle="tab" href="#nav-res" role="tab" aria-controls="nav-res" aria-selected="false">Результаты</a>
                        <a class="nav-item nav-link text-warning" id="nav-advice-tab" data-toggle="tab" href="#nav-advice" role="tab" aria-controls="nav-advice" aria-selected="false">Советы</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-theme" role="tabpanel" aria-labelledby="nav-theme-tab">
                        <table class="table table-striped text-white text-center">
                            <thead style="font-size: 25px;">
                                <tr>
                                    <th>Тема</th>
                                    <th>Время на чтение</th>
                                    <th>Ссылка</th>
                                    <th>Удалить</th>
                                </tr>
                            </thead>
                            <tbody style="font-size: 20px;">
                                @foreach (Story story in stories)
                                {
                                    var theme = _context.Themes.FirstOrDefault(x => x.ThemeId == story.ThemeId);

                                    <tr>
                                        <td>@theme.Name</td>
                                        <td>@theme.CountReadTime</td>
                                        <td><a href="@story.Link" class="btn btn-warning">Перейти</a></td>
                                        <td><a href="/account/deletestory?storyId=@story.StoryId" class="btn btn-danger">Удалить</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-res" role="tabpanel" aria-labelledby="nav-res-tab">
                        <table class="table table-striped text-white text-center">
                            <thead style="font-size: 25px;">
                                <tr>
                                    <th>Тема</th>
                                    <th>Результат</th>
                                    <th>Дата прохождения</th>
                                    <th>Ссылка</th>
                                </tr>
                            </thead>
                            <tbody style="font-size: 20px;">
                                @foreach (Achievement achievement in results)
                                {
                                    var test = _context.Tests.FirstOrDefault(x => x.TestId == achievement.TestId);
                                    var theme = _context.Themes.FirstOrDefault(x => x.ThemeId == test.ThemeId);

                                    <tr>
                                        <td>@theme.Name</td>
                                        <td>@achievement.Persent%</td>
                                        <td>@achievement.Date.ToShortDateString()</td>
                                        <td><a href="/Home/Test?themeId=@theme.ThemeId&testId=@test.TestId" class="btn btn-warning">Перейти</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-advice" role="tabpanel" aria-labelledby="nav-advice-tab">
                        <table class="table table-striped text-white text-center">
                            <thead style="font-size: 25px;">
                                <tr>
                                    <th>Тема</th>
                                    <th>Совет</th>
                                    <th>Дата прохождения</th>
                                    <th>Ссылка</th>
                                </tr>
                            </thead>
                            <tbody style="font-size: 20px;">
                                @foreach (Advice advice in advices)
                                {
                                    var test = _context.Tests.FirstOrDefault(x => x.TestId == advice.TestId);
                                    var theme = _context.Themes.FirstOrDefault(x => x.ThemeId == test.ThemeId);

                                    <tr>
                                        <td>@theme.Name</td>
                                        <td>@advice.Status</td>
                                        <td>@advice.Date.ToShortDateString()</td>
                                        <td><a href="/Home/Test?themeId=@theme.ThemeId&testId=@test.TestId" class="btn btn-warning">Перейти</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
